<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Bangla&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Kannada&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Average+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inria+Sans&amp;display=swap">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
            style="background: rgb(50,77,160);">
            <div class="container d-flex flex-column p-0">
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light mt-4" id="accordionSidebar">

                    <!-- link start -->
                    <li class="nav-item">
                        <a class="nav-link d-flex d-md-flex" data-bss-hover-animate="pulse" href="admin-dashboard.html"
                            style="font-size: 15.6px;">
                            <div
                                class="text-center d-flex justify-content-center align-items-center flex-wrap justify-content-lg-center align-items-lg-center">
                                <img src="../assets/img/sidebar_icons/clipboard-image.png"
                                    style="width: 27px;font-size: 17.6px;opacity: 0.91;filter: invert(100%);margin-right: 5px;margin-left: 5px;">
                                <div>
                                    <p style="margin-top: 1px;margin-bottom: -4px;">Dashboard</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- link end -->

                    <!-- link start -->
                    <li class="nav-item align-items-center">
                        <a class="nav-link d-flex d-md-flex align-items-md-center" data-bss-hover-animate="pulse"
                            href="course-table.html" style="font-size: 15.6px;">
                            <div
                                class="text-center d-flex justify-content-center align-items-center flex-wrap justify-content-lg-center align-items-lg-center">
                                <img src="../assets/img/sidebar_icons/clipboard-image-1.png"
                                    style="width: 28px;font-size: 17.6px;opacity: 1;margin-left: 5px;margin-right: 5px;filter: invert(100%);">
                                <div>
                                    <p style="margin-top: 1px;margin-bottom: -4px;">Course Table</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- link end -->

                    <!-- link start -->
                    <li class="nav-item align-items-center">
                        <a class="nav-link d-flex d-md-flex align-items-md-center" data-bss-hover-animate="pulse"
                            href="batch-table.html" style="font-size: 15.6px;">
                            <div
                                class="text-center d-flex justify-content-center align-items-center flex-wrap justify-content-lg-center align-items-lg-center">
                                <img src="../assets/img/admin_dashboard_logo/batches_logo.png"
                                    style="width: 29px;font-size: 17.6px;opacity: 1;margin-left: 5px;margin-right: 5px;filter: brightness(200%) grayscale(100%) invert(0%);">
                                <div>
                                    <p style="margin-top: 1px;margin-bottom: -4px;">Batch Table</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- link end -->

                    <!-- link start -->
                    <li class="nav-item align-items-center">
                        <a class="nav-link d-flex d-md-flex align-items-md-center" data-bss-hover-animate="pulse"
                            href="exam-table.html" style="font-size: 15.6px;">
                            <div
                                class="text-center d-flex justify-content-center align-items-center flex-wrap justify-content-lg-center align-items-lg-center">
                                <img src="../assets/img/sidebar_icons/clipboard-image-11.png"
                                    style="width: 29px;font-size: 17.6px;opacity: 1;margin-left: 5px;margin-right: 5px;filter: invert(0%);">
                                <div>
                                    <p style="margin-top: 1px;margin-bottom: -4px;">Exam Table</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- link end -->

                    <!-- link start -->
                    <li class="nav-item align-items-center">
                        <a class="nav-link d-flex d-md-flex align-items-md-center" data-bss-hover-animate="pulse"
                            href="teacher-table.html" style="font-size: 15.6px;">
                            <div
                                class="text-center d-flex justify-content-center align-items-center flex-wrap justify-content-lg-center align-items-lg-center">
                                <img src="../assets/img/sidebar_icons/teacher_table_logo.png"
                                    style="width: 28px;font-size: 17.6px;opacity: 1;margin-left: 5px;margin-right: 5px;">
                                <div>
                                    <p style="margin-top: 1px;margin-bottom: -4px;">Teacher Table</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- link end -->

                    <!-- link start -->
                    <li class="nav-item align-items-center">
                        <a class="nav-link active d-flex d-md-flex align-items-md-center" data-bss-hover-animate="pulse"
                            href="student-table.html" style="font-size: 15.6px;">
                            <div
                                class="text-center d-flex justify-content-center align-items-center flex-wrap justify-content-lg-center align-items-lg-center">
                                <img src="../assets/img/sidebar_icons/student_table_logo.png"
                                    style="width: 28px;font-size: 17.6px;opacity: 1;margin-left: 5px;margin-right: 5px;">
                                <div>
                                    <p style="margin-top: 1px;margin-bottom: -4px;">Student Table</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- link end -->

                    <!-- side bar link start -->
                    <li class="nav-item"><a class="nav-link d-flex d-md-flex" data-bss-hover-animate="pulse"
                            href="attendance-table.html" style="font-size: 15.6px;">
                            <div
                                class="text-center d-flex justify-content-center align-items-center flex-wrap justify-content-lg-center align-items-lg-center">
                                <img src="../assets/img/sidebar_icons/student_table_logo.png"
                                    style="width: 28px;font-size: 17.6px;opacity: 1;margin-left: 5px;margin-right: 5px;">
                                <div>
                                    <p style="margin-top: 1px;margin-bottom: -4px;">Attendance Table</p>
                                </div>
                            </div>
                        </a></li>
                    <!-- side bar link end -->

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><img
                            src="../assets/img/logo.png" style="width: 138px;">
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                                        href="#">
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small">
                                            Sitt Thiha Naing
                                        </span>
                                        <img class="border rounded-circle img-profile"
                                            src="../assets/img/avatars/avatar1.jpeg">
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" href="/student/student-profile.html">
                                            <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
                                            &nbsp;Profile
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
                                            &nbsp;Logout
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div id="student-grid">
                    <div class="container-fluid">
                        <select v-model="batch" class="form-select" aria-label="Default select example"
                            style="width: 12rem;">
                            <option selected disabled>Choose One Batch</option>
                            <option value="1">Java Web Batch 01</option>
                            <option value="2">OJT Batch 01</option>
                            <option value="3">PHP Batch 01</option>
                        </select>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Student Id</th>
                                    <th>Student Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(inputField, index) in inputFields" :key="index">
                                    <td>
                                        <input v-model="inputField.id" class="form-control" type="text"
                                            placeholder="id">
                                    </td>
                                    <td>
                                        <input v-model="inputField.name" class="form-control" type="text"
                                            placeholder="name">
                                    </td>
                                    <td>
                                        <button @click.prevent="handleRemoveField(index)"
                                            class="btn btn-danger m-1">-</button>
                                        <button @click.prevent="handleAddField()" class="btn btn-success m-1">+</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-start ms-2">
                            <button @click.prevent="handleSend()" class="btn btn-primary">Add</button>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../assets/js/theme.js"></script>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- vue3 -->
    <script src="https://unpkg.com/vue@3"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    batch: 'Choose One Batch',
                    inputFields: [
                        { id: '', name: '', batch: '' },
                    ],
                    successMessage: ''
                }
            },
            methods: {
                handleAddField() {
                    this.inputFields = [...this.inputFields, { id: '', name: '', batch: '' }];
                },
                handleRemoveField(index) {
                    if (this.inputFields.length > 1) {
                        const values = [...this.inputFields];
                        values.splice(index, 1);
                        this.inputFields = values;
                    }
                },
                handleSend() {
                    console.log(this.batch);
                    let data = [];
                    this.inputFields.forEach(student => {
                        data = [...data, { id: student.id, name: student.name, batch: this.batch }];
                    });
                    console.log(data);
                    // axios
                    //     .post('http://localhost:8080/api/addStudent', data)
                    //     .then(() => {
                    //         this.successMessage = "Added Successful";
                    //         setTimeout(() => {
                    //             this.successMessage = ""
                    //         }, 2000);
                    //     })
                    //     .catch(error => console.log(error));
                }
            },
        });

        app.mount('#student-grid');
    </script>

</body>

</html>